body, html {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #111;
  color: #ddd;
}

#top-image {
  width: 100%;
  height: 800px;
  background-image: url("images/home-0.jpeg");
  /*use background image rather than <img> to allow for internal centering*/
  background-size: cover;
  background-position: center;
  position: absolute;
  box-shadow: 0px 2px 6px #040404;
}

#top-image #image-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(13, 10, 21, 0.3);
}

header {
  font-size: 0px;
  padding: 8px 0px;
}

header a {
  text-decoration: none;
}

header .top-link {
  font-size: 16px;
  font-family: sans-serif;
  padding: 18px 26px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition: background-color 300ms;
  text-decoration: none;
  color: #ddd;
  border-radius: 2px;
}

header .top-link:hover {
  background-color: #343434;
}

header .top-link.mobile {
  font-size: 16px;
  display: block;
}

header #toons {
  font-weight: bold;
}

.section {
  text-align: center;
  font-weight: normal;
  letter-spacing: 3px;
  margin-top: 50px;
  line-height: 50px;
}

#content {
  margin-top: 800px;
  width: 100%;
  font-family: sans-serif;
  line-height: 24px;
  letter-spacing: 1px;
}

#content .info {
  margin-top: 10px;
  padding: 0px 15px;
}

#content #image-div {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  margin-top: 25px;
  box-shadow: 0px 2px 6px #040404;
}

#members {
  margin: 40px 0px;
  font-family: sans-serif;
  line-height: 24px;
  letter-spacing: 1px;
}

#members .member {
  padding: 16px;
}

#members .member .member-image {
  position: relative;
  height: 400px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 2px 6px #040404;
  width: 100%;
}

#members .member .name {
  position: absolute;
  width: 100%;
  background-color: rgba(17, 16, 16, 0.64);
  bottom: 0px;
  padding: 10px;
}

.history {
  text-align: justify;
}

.history img {
  width: 70%;
  margin: 0% 15%;
  box-shadow: 0px 2px 6px #040404;
}
