<footer class="site-footer">

  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Members</a>
            <a href="#" class="item">Repertoire</a>
            <a href="#" class="item">Videos</a>
            <a href="#" class="item">Contact Us</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Social Media</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Facebook</a>
            <!-- <a href="#" class="item">DNA FAQ</a> -->
            <!-- <a href="#" class="item">How To Access</a> -->
            <!-- <a href="#" class="item">Favorite X-Men</a> -->
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">{{ site.title }}</h4>
          <p>{{ site.description }}</p>
        </div>
      </div>
    </div>
  </div>

<!--     <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
    </div>

  -->
  <!-- <p class="text">{{ site.description }}</p> -->

  <!-- </div> -->

</footer>
