<footer class="site-footer">

  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="/members/" class="item">Members</a>
            <a href="/repertoire/" class="item">Repertoire</a>
            <a href="{{site.youtube}}" class="item">Videos</a>
            <a href="mailto:{{site.email}}" class="item">Contact Us</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Social Media</h4>
          <div class="ui inverted link list">
            <a href="{{site.facebook}}" class="item">Facebook</a>
            <a href="{{site.youtube}}" class="item">Youtube</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">{{ site.title }}</h4>
          <p>{{ site.description }}</p>
        </div>
      </div>
    </div>
  </div>

</footer>
