---
layout: default
---

<br>
<br>
<br>

<div id="members" class="ui centered stackable page grid">
  <div class="row">
    <div class="sixteen wide middle aligned column">
      <!-- <img src="../assets/images/banner-0.png"> -->
      <h1>
        Current Members
      </h1>
      <br>
      <div class="ui divider"></div>
      </div>
  </div>

  {% for member in site.data.members %}
    {% if member.status == "active" %}
      <div class="row">
        <div class="six wide mobile six wide tablet four wide computer column">
          <div
            style="background-image: url('../assets/images/members/{{member.image}}')"
            class="hovercard {{member.color}}">
            <div class="toon"
              style="background-image: url('../assets/images/toons/{{member.toon}}')">
            </div>
          </div>
        </div>
        <div class="six wide mobile six wide tablet twelve wide computer column">

          <h1>
            {{member.fullname}}
          </h1>

          <div class="bio">

            <p>
              <strong>{{member.school}} {{member.class}}</strong>
              <br>
              <strong> Jingle: </strong> {{member.jingleClass}}
              <br>
              <strong> Hometown: </strong> {{member.hometown}}
              <br>
              <strong> Major: </strong> {{member.major}}
              <br>
              <strong> Voice: </strong> {{member.voice}}
              <br>
              <strong> Positions: </strong> {{member.positions}}
              <br>
              <strong> Solos: </strong> {{member.solos}}
              <br>
              <strong> Duets: </strong> {{member.duets}}
              <br>
              <strong> Arrangements: </strong> {{member.arrangements}}
              <br>
            </p>

            <p>
              {{member.bio}}
            </p>

          </div>

        </div>
      </div>
    {% endif %}
  {% endfor %}

  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>

  <div class="row">
    <div class="sixteen wide middle aligned column">
      <!-- <img src="../assets/images/banner-0.png"> -->
      <h1>
        Alums
      </h1>
      <br>
      <div class="ui divider"></div>
      </div>
  </div>

  {% for member in site.data.members %}
    {% if member.status == "alum" %}
      <div class="row">
        <div class="six wide mobile six wide tablet four wide computer column">
          <div
            style="background-image: url('../assets/images/members/{{member.image}}')"
            class="hovercard {{member.color}}">
            <div class="toon"
              style="background-image: url('../assets/images/toons/{{member.toon}}')">
            </div>
          </div>
        </div>
        <div class="six wide mobile six wide tablet twelve wide computer column">

          <h1>
            {{member.fullname}}
          </h1>

          <div class="bio">

            <p>
              <strong>{{member.school}} {{member.class}}</strong>
              <br>
              <strong> Jingle: </strong> {{member.jingleClass}}
              <br>
              <strong> Hometown: </strong> {{member.hometown}}
              <br>
              <strong> Major: </strong> {{member.major}}
              <br>
              <strong> Voice: </strong> {{member.voice}}
              <br>
              <strong> Positions: </strong> {{member.positions}}
              <br>
              <strong> Solos: </strong> {{member.solos}}
              <br>
              <strong> Duets: </strong> {{member.duets}}
              <br>
              <strong> Arrangements: </strong> {{member.arrangements}}
              <br>
            </p>

            <p>
              {{member.bio}}
            </p>

          </div>

        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
